#############################################################
# Extruder
#############################################################

# Hotend PID Calibration – 220°C
[extruder]
pid_Kp: 25.744      #replaces factory 21.527
pid_Ki: 1.244       #replaces factory 1.063
pid_Kd: 133.227     #replaces factory 108.982

#############################################################
# Heater Bed
#############################################################

[heater_bed]
pid_Kp: 70.251      #replaces factory 70.0
pid_Ki: 1.351       #replaces factory 1.0
pid_Kd: 126.423     #replaces factory 500.0