#############################################################
# Extruder
#############################################################

# Creality Stock Hotend PID Calibration – 220°C
#[extruder]
#pid_Kp: 25.947      #replaces factory 21.527
#pid_Ki: 1.491       #replaces factory 1.063
#pid_Kd: 112.871     #replaces factory 108.982

# Phaetus Dragonfly BMS Hotend PID Calibration – 240°C
[extruder]
pid_Kp:	24.373 
pid_Ki:	1.354 
pid_Kd:	109.678

#############################################################
# Heater Bed
#############################################################

[heater_bed]
pid_Kp: 70.251      #replaces factory 70.0
pid_Ki: 1.351       #replaces factory 1.0
pid_Kd: 126.423     #replaces factory 500.0