#####################################################################
# Ender 5 Pro
#
# Klipper Configuration
#
# Version: 1.0.0
#
# Main include file.
# All hardware configuration is separated into logical modules.
#####################################################################

[include mainsail.cfg]

#####################################################################
# Hardware
#####################################################################

[include hardware/mcu.cfg]
[include hardware/printer.cfg]
[include hardware/motion.cfg]
[include hardware/probe.cfg]

#####################################################################
# Virtual SD Card
#####################################################################

[virtual_sdcard]
path: /home/nathan/printer_data/gcodes
on_error_gcode: CANCEL_PRINT
