#####################################################################
# Extruder System
#
# Ender 5 Pro
# SKR Mini E3 V3
#
# Commissioning Version
#####################################################################

#############################################################
# Extruder
#############################################################

[extruder]
step_pin: PB3
dir_pin: PB4
enable_pin: !PD1

microsteps: 16
# To be calibrated after commissioning
rotation_distance: 22.678

nozzle_diameter: 0.400
filament_diameter: 1.750

heater_pin: PC8
sensor_pin: PA0
sensor_type: EPCOS 100K B57560G104F

control: pid
pid_Kp: 21.527
pid_Ki: 1.063
pid_Kd: 108.982

min_temp: 0
max_temp: 250

[tmc2209 extruder]
uart_pin: PC11
tx_pin: PC10
uart_address: 3
run_current: 0.80
stealthchop_threshold: 0