#####################################################################
# Heated Bed
# Ender 5 Pro
# SKR Mini E3 V3
#####################################################################

[heater_bed]
heater_pin: PC9
sensor_pin: PC4
sensor_type: EPCOS 100K B57560G104F

control: pid
# PID values overridden by calibration/pid.cfg

min_temp: 0
max_temp: 120