#####################################################################
# MCU Configuration
#####################################################################

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_540015000650304158373220-if00
restart_method: command

;[controller_fan]
;pin: PC6