#####################################################################
# CR Touch
#####################################################################

[bltouch]
sensor_pin: ^PC14
control_pin: PA1

x_offset: 0
y_offset: 0
z_offset: 0

speed: 5.0
samples: 2
