#####################################################################
# CR Touch
#####################################################################

[bltouch]
x_offset: 44
y_offset: 9

[safe_z_home]
home_xy_position: 66,101    # Probe centred on bed (110,110)
speed: 100
z_hop: 10
z_hop_speed: 10