#####################################################################
# CR Touch
#####################################################################

[bltouch]
x_offset: 44
y_offset: 9

[safe_z_home]
home_xy_position: 66,101    # Probe centred on bed (110,110)
speed: 100
z_hop: 10
z_hop_speed: 10

#####################################################################
# Bed Geometry
#####################################################################

#mesh_min: added buffer of x axis offset
[bed_mesh]
mesh_min: 44,25
mesh_max: 200,195
probe_count: 7,7
algorithm: bicubic

#####################################################################
# Screw Geometry
#####################################################################

[screws_tilt_adjust]
horizontal_move_z: 10
speed: 120
screw_thread: CW-M4

# Coordinates are nozzle positions chosen so the probe is centred over each screw.

# Xmin, Ymin
screw1: 0,21
screw1_name: Xmin_Ymin

# Xmax, Ymin
screw2: 156,21
screw2_name: Xmax_Ymin

# Xmax, Ymax
screw3: 156,191
screw3_name: Xmax_Ymax

# Xmin, Ymax
screw4: 0,191
screw4_name: Xmin_Ymax