#####################################################################
# Printer Limits Definition
#####################################################################

[printer]

# Motion limits (safe commissioning values)
max_velocity: 300
max_accel: 3000

max_z_velocity: 15
max_z_accel: 100

square_corner_velocity: 5.0

minimum_cruise_ratio: 0.5

#####################################################################
# Bed Heater Limits
#####################################################################

[heater_bed]
max_power: 1.0